.webdev-bg{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.webdev-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background: linear-gradient(to left, #e59550, #767777);
    padding: 30px 50px 30px 50px;
    border-radius: 25px;
    width: 510px;
    overflow: hidden;
}
.webdev-image{
    border-radius: 15px;
    margin-top: 10px;
    width: 450px;
    height: 200px;
    flex-shrink: 0;
}
.bg{
    margin-top: 60px;
    margin-bottom: 50px;
    
    background: linear-gradient(to left, #e09757, #666767);
    padding-bottom: 100px;
    margin-bottom: 0px;
}
.webdev-heading{
    font-family: sans-serifs;
}
.webdev-mainHeading{
    font-family: roboto;
    font-weight: 800;
    font-size: 40px;
}
.webdev-mainHeading-container{
    display: flex;
    justify-content: center;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
}
.scroll-container {
display: flex;
gap: 20px;
overflow-x: auto;
scroll-behavior: smooth;
padding: 10px;
width: 100%;
}
.webdev-rocket-icon {
 
  display: flex;
  align-items: center;
  justify-content: center;
}

.webdev-rocket{
    color: black;
    font-size: 40px;
}
a {
    text-decoration: none;
    color: inherit;
}